<div class="container">

  <div class="col-md-9 col-sm-9">
<div class="jumbotron">

  <h1><a href="#">Angular 2 Developers</a></h1>
  <p>Wisdomitservices.com</p>
  <button type="button" class="btn btn-success">Apply Job</button>
</div>

  </div>
  <div class="col-md-3 col-sm-3">

      <div class="list-group">
          <a href="#" class="list-group-item active">
            Related Jobs
          </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
  </div>
</div>